// ==== BLOG DETAIL BANNER =====================================================
.blog-detail {
	&.blog-banner {
		min-height: 582px;
		@media (max-width: $md4+px) {
			min-height: 422px;
		}
	}

	& .blog-banner__img {
		&:before {
			opacity: 0.32;
		}
	}

	& .blog-banner__title {
		// margin-top: 135px;
		// margin-bottom: 124px;

		// @media (max-width: $md4+px) {
		// 	margin-top: 80px;
		// }
	}
}
// ==== AND BLOG DETAIL BANNER =====================================================



// ==== BLOG DETAIL MAIN =====================================================
.blog-detail-main {
	padding: 35px 0 61px;

	@media (max-width: $md4+px) {
		padding: 0 0 40px;
	}

	&__body {
		display: flex;

		@media (max-width: $md2+px) {
			display: block;
		}
	}

	&__column {
		&_1 {
			flex: 1 1 auto;
			padding-right: 20px;
			@media (max-width: $md2+px) {
				padding-right: 0;
			}
		}
		&_2 {
			flex: 0 0 443 / 1235 * 100%;
			min-width: 370px;

			@media (max-width: $md4+px) {
				min-width: auto;
			}
		}
	}
	&__article {}
	&__aside {}
}



.article-blog-detail {
	@include text(16,400,26);
	color: #404549;

	@media (max-width: $md4+px) {
		font-size: 14px;
		line-height: 24px;
	}

	&  p {
		margin: 22px 0;	
	}

	&__title {
		@include maintext(30,700,40);
		color: $textColor;
		margin-bottom: 20px;
		margin-top: 45px;

		@media (max-width: $md4+px) {
			font-size: 26px;
			line-height: 36px;
		}
	}
	&__text {
		@include text(16,400,26);
		color: #404549;

		@media (max-width: $md4+px) {
			font-size: 14px;
			line-height: 24px;
		}

		&  p {
			margin: 22px 0;	
		}
	}
	&__big-text {
		@include maintext(26,300,36);
		color: #404549;
		margin-top: 39px;
		margin-bottom: 20px;

		@media (max-width: $md4+px) {
			font-size: 22px;
			line-height: 32px;
		}

		& p {
			margin: 20px 0;	
		}
	}
	&__img {
		width: 100%;
		height: 0;
		padding-bottom: 57%;
	}
}





.aside-blog-detail {
	padding: 50px 0 40px;

	@media (max-width: $md4+px) {
		padding: 0;
	}

	&__card-info {
		max-width: 352px;
		margin: 0 auto 99px;

		@media (max-width: $md2+px) {
			max-width: 552px;
		}

		@media (max-width: $md4+px) {
			margin-bottom: 50px;
		}
	}

	&__links {
		max-width: 356px;
		margin:0 auto;

		@media (max-width: $md2+px) {
			max-width: 556px;
		}
	}
}


.card-info-blog-detail {

	&__text-wrap {
		box-shadow: 0 16px 30px rgba(43, 43, 43, 0.08);
		background-color: #ffffff;
		padding: 48px 42px 41px 46px;
		margin-bottom: 29px;

		@media (max-width: $md4+px) {
			padding: 40px 25px;
		}
	}
	&__title {
		@include maintext(26,700,26);
		color: #404549;
		text-transform: uppercase;
		margin-bottom: 24px;
	}
	&__text {
		@include text(13,400,20);
		color: #778086;

		& p {
			margin: 21px 0;
		}
	}
	&__social-wrap {
		box-shadow: 0 6px 40px rgba(43, 43, 43, 0.08);
		background-color: #ffffff;
	}
	&__social {
		min-height: 79px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px 20px 10px 32px;

		& > li {
			flex: 0 0 auto;

			&:not(:last-child) {
				margin-right: 16px;
			}
		}
	}
}


.links-blog-detail {
	&__list {
		margin-bottom: 29px;
		& > li {
			min-height: 50px;
			border-bottom: 1px solid #e0e0e0;
			margin-bottom: 25px;
			& > a {
				@include text(24,400,34);
				display: block;
				padding-right: 40px;
				position: relative;
				color: #404549;

				background: url('../img/blog-detail/right-arrow.svg') center right no-repeat;
			}
		}
	}
	&__load-more-btn {
		text-align: center;

		& > a {
			display: inline-block;
			color: #78a752;
			@include maintext(26,700,26);
			display: inline-flex;
			align-items: center;

			& .plus {
				height: 26px;
				width: 26px;
				margin-left: 10px;

				&:before, &:after {
					background: #78a752;
				}

				&:before {
					height: 4px;
				}

				&:after {
					width: 4px;
				}
			}
		}
	}
}


// ==== AND BLOG DETAIL MAIN =====================================================



// ==== RELATED POSTS =====================================================
.related-posts {
	padding-bottom: 32px;
	&__body {}
	&__title {
		@include maintext(40,700,50);
		color: $textColor;
		margin-bottom: 28px;

		@media (max-width: $md3+px) {
			text-align: center;
		}
	}
	&__cards {}
}
// ==== AND RELATED POSTS =====================================================
