// ==== AND PROCESS =====================================================
.calculator {
	
	&.services-banner {
		margin-bottom: 17px;
	}
	& .services-banner__card {
		padding: 59px 69px 79px 80px;

		@media (max-width: $md2+px) {
		    text-align: left;
		}

		@media (max-width: $md3+px) {
		    text-align: center;
		    padding: 36px 40px 34px 47px;
		}

		@media (max-width: $md3+px) {
		    padding: 36px 15px 34px;
		}
	}
	& .services-banner__title {
		& > p {
			&:last-child {
				color: #e9933e;
			}
		}
	}
}
// ==== AND PROCESS =====================================================



// ==== calculator-block-text-right =====================================================
.calculator-block-text-right {
	padding: 0 0 111px;

	&__body {
		display: flex;

		@media (max-width: 1100px) {
			flex-direction: column;
		}
	}
	&__column {
		&_1 {
			flex: 0 0 606px;

			@media (max-width: 1100px) {
				flex: 0 1 100%;
				order: 1;
			}
		}
		&_2 {
			flex: 1 1 auto;
			display: flex;
			justify-content: flex-end;
			padding-left: 20px;

			@media (max-width: 1100px) {
				padding-left: 0;
			}
		}
	}
	&__img {
		min-height: 663px;
		width: 100%;

		@media (max-width: 1100px) {
			min-height: 0;
			height: 0;
			padding-bottom: 55%;
		}
	}
	&__text-wrap {
		max-width: 504px;
		padding-top: 101px;
		padding-bottom: 20px;

		@media (max-width: 1100px) {
			max-width: none;
		}

		@media (max-width: $md2+px) {
			padding-top: 30px;
		}
	}
	&__title {
		@include maintext(30,700,40);
		color: $textColor;
		margin-bottom: 40px;

		@media (max-width: $md4+px) {
			margin-bottom: 20px;
		}
	}
	&__text {
		@include text(24,400,34);
		color: #404549;

		@media (max-width: $md4+px) {
			font-size: 20px;
			line-height: 30px;
		}

		& > p {
			margin: 20px 0;
		}
	}
}
// ==== AND calculator-block-text-right =====================================================



// ==== CALCULATOR CARDS =====================================================
.calculator-cards {
	font-size: 10px;
	position: relative;
	padding:11.9em 0 8.9em;
	background-color: #edf0f2;

/*	@media(max-width: 1440px) {
		font-size: 8px;
	}

	@media(max-width: 1024px) {
		font-size: 10px;
	}*/


	@media (max-width: $md4+px) {
		padding: 7em 0 7em;
	}

	&__arrow-down {
		position: absolute;
		bottom: 4.7em;
		left: 50%;
		transform: translateX(-50%);

		@media (max-width: $md4+px) {
			bottom: 4em;
		}
	}

	&__body {

	}

	&__wrap {
		display: flex;
		margin: 0 -1.5em;
		justify-content: center;
		flex-wrap: wrap;
	}
	&__item {
		padding: 0 1.5em;
		margin-bottom: 3em;
		position: relative;

		&:nth-child(2) {
			& .calculator-cards__icon {
				padding: 0px 0 1.2em 0;
			}
		}

/*		&:nth-child(4) {
			& .calculator-cards__title {
				margin-bottom: 1.51em;
			}
		}
*/
		&:not(:last-child) {
			&:before {
				position: absolute;
				content: '';
				width: 5.8em;
				height: 0.9em;
				background-color: #e9933e;
				top: 50%;
				right: 0;
				transform: translate(50%, -50%);
				z-index: 2;

				@media (max-width: 1024px) {
					display: none;
				}
			}
		}
	}

	&__inner {
		width: 28.6em;
		min-height: 32.1em;
		box-shadow: 0 3px 20px rgba(119, 128, 134, 0.08);
		background-color: #ffffff;
		text-align: center;
		padding: 2em 2em 1em 2em;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
	}
	&__icon {
		margin-bottom: 2.5em;
		height: 9em;
		margin-top: 4em;

		& > img {
			height: 100%;
		}
	}
	&__title {
		color: $textColor;
		@include maintext(20,700,20);
		font-size: 2em;
		line-height: 1em;
		text-transform: uppercase;
		margin-bottom: 0.51em;
	}
	&__subtitle {
		color: #778086;
		@include text(13,400,20);
		font-size: 1.3em;
		line-height: 1.53em;
		max-width: 16em;
	}
}
// ==== AND CALCULATOR CARDS =====================================================




// ==== CALCULATOR APP =====================================================
.calculator-app {
	padding: 53px 0 0 0;

	&__body {}

	&__title {
		text-align: center;
		@include maintext(30,700,40);
		color: $textColor;
		margin-bottom: 27px;
	}
	&__img {
		margin: 0 auto;
		max-width: 879px;

		& > img {
			width: 100%;
		}
	}
}
// ==== AND CALCULATOR APP =====================================================




// ==== ENQUIRE ONLINE =====================================================
.calculator {
	&.enquire-online .container {
		max-width: 1265px;
	}

	& .enquire-online__body {
		padding: 74px 0 90px;
	}

	& .enquire-online__img {
		left: 17px;

		@media (max-width: 1200px) {
			display: none;
		}
	}

	& .enquire-online__inner {
		margin-right: 84px;
		max-width: 547px;

		@media (max-width: 1200px) {
			margin: 0 auto;
		}
	}

	& .enquire-online__title {
		margin-bottom: 21px;
		& > p {
			&:nth-child(2) {
				color: #e9933e;
			}

			&:last-child {
				color: #404549;
			}
		}
	}

	& .enquire-online__subtitle {
		max-width: 511px;
	}

	& .enquire-online__link-btn {

		& > a {
			padding: 15px 32px 15px 35px;
			justify-content: flex-start;
			& > span {
				margin-left: 8px;
				width: 25px;
				height: 25px;
			}
		}

	}
}
// ==== AND ENQUIRE ONLINE =====================================================



// ==== CALCULATOR FAQ =====================================================
.calculator-faq {
	padding: 62px 0 71px;

	&__body {}

	&__title {
		color: $textColor;
		@include maintext(40,700,50);
		margin-bottom: 14px;
		text-align: center;

		@media (max-width: $md4+px) {
			font-size: 30px;
			line-height: 40px;
		}
	}

	&__subtitle {
		@include text(24,400,34);
		color: #404549;
		margin-bottom: 65px;
		text-align: center;

		@media (max-width: $md4+px) {
			font-size: 20px;
			line-height: 28px;
			margin-bottom: 35px;
		}
	}

	&__list {

		& > li {

			&:not(:last-child) {
				margin-bottom: 31px;
				border-bottom: 1px solid #edf0f2;
			}
		}
	}
}


.list-calculator-faq {
	&__title {
		position: relative;
		display: flex;
		justify-content: space-between;
		padding-left: 25px;
		@include maintext(20,700,20);
		text-transform: uppercase;
		margin-bottom: 30px;
		cursor: pointer;
		color: $textColor;

		&:before {
			position: absolute;
			content: '';
			left: 0;
			top: 5px;
			height: 7px;
			width: 7px;
			background: $textColor;
			border-radius: 50%;
		}

		& .accordion__plus {
			margin-left: 25px;

			@media (max-width: $md4+px) {
				margin-left: 15px;
			}
		}

		&.active {
			//color: #e9933e;

			& .plus-accordion__body {
				&:before {
					height: 0;
				}
				/*&:after {
					background: #e9933e;
				}*/
			}
		}

		@media (max-width: $md4+px) {
			font-size: 16px;
			line-height: 18px;
			margin-bottom: 20px;
		}
	}
	&__text-collapse {
		@include text(16,400,26);
		color: #404549;
		max-width: 972px;
		padding-left: 24px;
		display: none;
		margin-top: -2px;

		@media (max-width: $md4+px) {
			font-size: 14px;
			line-height: 24px;
		}

		& > p {
			margin: 0px 0 26px;

			@media (max-width: $md4+px) {
				margin: 0px 0 20px;
			}
		}
	}
}


// ==== AND CALCULATOR FAQ =====================================================
